body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
  margin-top: 40px;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin: 10px;
  width: 200px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
}

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
}

th {
  background: #333;
  color: white;
}